/* === COLORS === */
$primary-green: rgb(132, 236, 175);
$secondary-blue: rgb(133, 218, 239);
$grey-background: rgb(248, 248, 248);

$black-text: #1a1a1a;
$grey-text: #b3b3b3;

/* === MEDIA QUERY BREAK POINTS === */
$break-phone: 600px;
$break-tablet: 768px;
$break-desktop: 1024px;
$break-large-desktop: 1800px;
