.grid {
  display: grid;

  &--1x2 {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);

    @include respond(md) {
      grid-template-columns: 1fr;
    }
  }

  &--1x3 {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    @include respond(md) {
      grid-template-columns: 1fr;
    }
  }

  &--1x4 {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr repeat(3, 1fr);

    @include respond(lg) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(md) {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
    }
  }

  &--2x3 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    @include respond(md) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
  }
}
