/* === COLORS === */
$primary-color: #30d076;
$red-color: #ff6363;

$dim-background: rgb(249, 249, 255);

/* === TEXT COLORS === */
$black-text: #222222;
$grey-text: #777777;

/* === BREAKPOINTS === */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
