.testimonial {
  background: $radial-gradient;
  margin-bottom: 12rem;
  position: relative;

  .section-heading {
    margin-top: 10rem;
  }

  .section-heading,
  .section-desc {
    color: #fff;
  }

  &__text {
    @include flex-box-center(column);
  }

  &__grid {
    display: grid;
    padding: 1rem 6rem 7rem 6rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    align-items: center;
    justify-items: center;
    grid-gap: 2rem;
  }

  .grid__image {
    display: flex;
    height: 140px;
    background-color: #fff;
    justify-content: stretch;
    align-items: stretch;
    object-fit: contain;
    border-radius: 5px;
  }
}
