/* ===== TEMPLATES ===== */
%move-up-on-hover {
  transition: transform 220ms;

  &:hover {
    transform: translateY(-3px);
  }
}

/* ===== HERO SECTION ===== */
.hero-section {
  padding: 30px 0 0;
  height: calc(100vh - 142px);
  background-image: linear-gradient(to right, #4187f7, #4c26ff);
  color: #fff;

  &__hero {
    &__container {
      &__svg {
        text-align: center;

        @include respond(sm) {
          max-width: 65%;
          margin-bottom: 4rem;
        }

        @include respond(md) {
          margin-bottom: 4rem;
        }

        img {
          width: 450px;
          height: 100%;
          margin: 0px auto;
          outline: none;

          @include respond(lg) {
            width: 100%;
          }

          @include respond(md) {
            width: 100%;
          }

          @include respond(sm) {
            width: 100%;
          }
        }
      }

      &__text {
        @include respond(sm) {
          flex: 0 0 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        @include respond(md) {
          flex: 0 0 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .row {
        padding-top: 100px;

        @include respond(sm) {
          flex-direction: column-reverse;
          padding-top: 50px;
        }

        @include respond(md) {
          flex-direction: column-reverse;
          padding-top: 50px;
        }

        .col-6 {
          h1 {
            font-size: 4.25rem;
            font-weight: 500;
            margin-bottom: 5rem;

            @include respond(sm) {
              font-size: 2.5rem;
              text-align: center;
              margin-bottom: 1.75rem;
              font-weight: 600;
              max-width: 90%;
            }

            @include respond(md) {
              font-size: 2.5rem;
              text-align: center;
              margin-bottom: 1.75rem;
              font-weight: 600;
              max-width: 90%;
            }
          }

          h4 {
            font-size: 2rem;
            font-weight: lighter;
            margin-bottom: 8rem;

            @include respond(sm) {
              text-align: center;
              font-size: 1.8rem;
              margin-bottom: 4rem;
            }

            @include respond(md) {
              text-align: center;
              font-size: 1.8rem;
              margin-bottom: 4rem;
            }
          }

          .btn {
            @extend %move-up-on-hover;

            @include respond(sm) {
              font-size: 1.4rem;
              padding: 16px 100px;
            }

            @include respond(md) {
              font-size: 1.4rem;
              padding: 16px 100px;
            }
          }
        }
      }
    }
  }
}

/* ===== VIDEO SECTION ===== */
.video-section {
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(md) {
    display: none;
  }

  @include respond(sm) {
    display: none;
  }

  &__video-block {
    position: relative;

    video {
      @include respond(lg) {
        width: 100%;
        padding: 0 5rem;
      }

      @include respond(md) {
        width: 100%;
        padding: 0 5rem;
      }

      @include respond(sm) {
        width: 100%;
        padding: 0 5rem;
      }
    }

    &__start-exp {
      position: absolute;
      top: 0;
      left: 5rem;
      max-width: 40%;
    }

    &__play-btn {
      position: absolute;
      left: 20px;
      bottom: 20px;
      height: 120px;
      width: auto;
      z-index: 5;
      cursor: pointer;

      @include respond(lg) {
        left: 50px;
        bottom: 10px;
      }

      @include respond(md) {
        left: 50px;
        bottom: 10px;
      }

      @include respond(sm) {
        left: 50px;
        bottom: 10px;
      }
    }
  }
}

/* ===== MOBILE TAB SECTION ===== */
.mob-tab-section {
  display: none;
  background: #f8f8ff;

  @include respond(sm) {
    display: block;
  }

  &__container {
    padding: 4rem;

    &__item {
      margin-bottom: 3.5rem;

      h1 {
        font-size: 2.35rem;
        margin-bottom: 2rem;
        color: #434343;
        font-weight: 600;
      }

      &__details {
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
        background-color: #ffffff;

        h4 {
          font-size: 1.6rem;
          color: #434343;
          margin-bottom: 1rem;
          font-weight: 600;
        }

        img {
          max-width: 100%;
          margin-bottom: 1.5rem;
        }

        p {
          color: #656981;
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* ===== TAB SECTION ===== */
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.tab-section {
  margin: 15rem 0;

  @include respond(md) {
    display: none;
  }

  @include respond(sm) {
    display: none;
  }

  &__container {
    overflow-x: hidden;

    &__tabs {
      display: flex;
      position: sticky;
      top: 0;

      & > * {
        &:first-child {
          border-radius: 5px 0 0 5px;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
        }

        &.active {
          color: #3f51b5;
        }

        flex: 1;
        min-width: 160px;
        user-select: none;
        padding: 15px;
        cursor: pointer;
        font-weight: 600;
        text-align: center;
        color: #0000008a;
        border: 1px solid #eaeaea;
        font-size: 1.6rem;
        position: relative;
        overflow: hidden;

        span.ripple {
          position: absolute;
          border-radius: 50%;
          transform: scale(0);
          animation: ripple 600ms linear;
          background-color: lighten($color: #3f51b5, $amount: 30);
          pointer-events: none;
        }
      }
    }

    &__content-wrapper {
      overflow-x: hidden;

      #tab-content {
        display: flex;
        transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;
        will-change: transform;
        transform: translate(0%, 0px);

        & > * {
          flex-shrink: 0;
          width: 100%;
          overflow: auto;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 1rem;

            &:nth-child(2) {
              flex-direction: row-reverse;
            }

            .image {
              flex: 0 0 41.66667%;
              max-width: 0 0 41.66667%;

              img {
                max-width: 100%;
              }
            }

            .text {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              flex: 0 0 58.33333%;
              max-width: 0 0 58.33333%;

              h1 {
                font-size: 3.75rem;
                font-weight: 500;
                margin-bottom: 2rem;
              }

              p {
                font-size: 2rem;
                font-weight: lighter;
                color: #656981;
              }

              &__details {
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                margin-bottom: 3rem;
              }

              &__testimonial {
                padding: 3rem;
                margin-bottom: 8px;
                border: 1px solid rgba(41, 42, 46, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                &__header {
                  display: flex;
                  margin-bottom: 3rem;
                  padding: 0;

                  img {
                    height: 64px;
                    width: 64px;
                    margin-right: 3rem;
                  }

                  p {
                    span {
                      font-weight: bold;
                    }
                  }
                }

                p {
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }
    }

    &__underline {
      background-color: #3f51b5;
      height: 2px;
      width: 33.33%;
      transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;
      will-change: transform;
      transform: translate(0%, 0px);
    }
  }
}

/* ===== CLIENT SECTION ===== */
.client-section {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(78deg, #e9edf3, #edf1f7);
  text-align: center;
  padding-top: 3.25rem;

  @include respond(md) {
    padding-top: 3.5rem;
  }

  @include respond(sm) {
    padding-top: 3.5rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: lighter;
  }

  &__companies {
    @include respond(sm) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    @include respond(md) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    div {
      display: inline-block;
    }

    img {
      height: auto;
      width: 150px;

      @include respond(sm) {
        width: 100%;
      }
    }
  }
}

/* ===== ACCESSIBLE SECTION ===== */
.accessible-section {
  padding-top: 8rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(29deg, #514bed, #38e5c7);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @include respond(sm) {
    background-image: linear-gradient(to right, #4187f7, #4c26ff);
  }

  @include respond(md) {
    background-image: linear-gradient(to right, #4187f7, #4c26ff);
  }

  &__container {
    @include respond(sm) {
      display: flex;
      flex-direction: column-reverse;
    }

    @include respond(md) {
      display: flex;
      flex-direction: column-reverse;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      text-align: center;

      h1 {
        font-size: 3.75rem;
        margin-bottom: 2rem;
        font-weight: 600;

        @include respond(sm) {
          font-size: 2.75rem;
        }

        @include respond(md) {
          font-size: 2.75rem;
        }
      }

      p {
        font-size: 2rem;
        line-height: 32px;
        max-width: 80%;
        font-weight: lighter;
        margin-bottom: 4rem;

        @include respond(sm) {
          font-size: 1.8rem;
          line-height: 24px;
        }

        @include respond(md) {
          font-size: 1.8rem;
          line-height: 24px;
        }
      }

      .appstore-links {
        display: flex;

        @include respond(md) {
          display: none;
        }

        @include respond(sm) {
          display: none;
        }

        a {
          svg {
            max-width: 100%;
            height: auto;
          }

          &:first-child {
            margin-right: 2rem;
          }

          &:hover {
            @extend %move-up-on-hover;
          }
        }
      }
    }

    &__image {
      text-align: center;
      margin-top: 7rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

/* ===== AWARDS SECTION ===== */
.awards-section {
  padding: 7rem 0;

  @include respond(sm) {
    background-color: #f5f6fb;
    padding: 5rem 0;
  }

  @include respond(md) {
    padding: 5rem 0;
  }

  &__container {
    h1 {
      font-size: 3.25rem;
      font-weight: 600;

      @include respond(sm) {
        font-size: 2.75rem;
      }
    }

    &__carousel {
      display: none;

      @include respond(sm) {
        display: block;
      }

      @include respond(md) {
        display: block;
      }

      .owl-carousel {
        font-size: 1.6rem;
      }
    }

    &__grid {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem 5rem;
      padding-top: 4rem;

      @include respond(lg) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond(md) {
        display: none;
      }

      @include respond(sm) {
        display: none;
      }

      &__item {
        img {
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.12);
          margin-bottom: 1.25rem;
          max-width: 100%;
        }

        p {
          font-size: 2rem;
          font-weight: lighter;
        }
      }
    }
  }
}

/* ===== BLOGS SECTION ===== */
.blog-section {
  background-color: #f5f6fb;
  padding: 15rem 0;

  @include respond(sm) {
    padding: 5rem 0;
  }

  @include respond(md) {
    padding: 5rem 0;
  }

  &__container {
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5rem;

      h1 {
        color: #434343;
        font-size: 3.25rem;
        font-weight: 600;
        margin-bottom: 5rem;

        @include respond(sm) {
          font-size: 2.75rem;
          margin-bottom: 0;
        }
      }

      &__arrows {
        display: flex;

        @include respond(sm) {
          display: none;
        }

        svg {
          cursor: pointer;
        }

        & > *:first-child {
          margin-right: 4rem;
        }
      }
    }

    .owl-carousel {
      .owl-item {
        img {
          margin-bottom: 2rem;

          @include respond(sm) {
            border-radius: 5px;
          }
        }

        h4 {
          color: #656981;
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 1rem;

          @include respond(sm) {
            font-size: 2.5rem;
          }
        }

        h6 {
          color: #656981;
          font-size: 1.4rem;
          font-weight: lighter;

          @include respond(sm) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
