.footer {
  background-color: rgba(20, 28, 58, 0.9);
  color: #fff;
  padding-top: 12rem;
  margin-top: 10rem;
  position: relative;

  &__container {
    @include respond(sm) {
      padding-top: 10rem;
    }

    form {
      display: flex;
      margin-bottom: 2rem;

      input[type='email'] {
        padding: 10px 14px;
        border: 1px solid #d3dce6;
        font-size: 1.6rem;
        border-radius: 5px 0 0 5px;

        &::placeholder {
          color: #a8a8bf;
        }

        &:focus {
          border-color: $bright-blue;
        }
      }

      button[type='submit'] {
        border: 0;
        background-color: $bright-blue;
        transition: all 220ms;
        padding: 15px 30px;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 5px 5px 0;

        &:hover {
          background-color: darken($bright-blue, $amount: 10);
        }
      }
    }

    &__newsletter-form {
      background-color: #fff;
      box-shadow: 0px -8px 12px rgba(0, 0, 0, 0.06);
      border-radius: 6px;
      padding: 15px 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: absolute;
      top: -6%;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);

      @include respond(md) {
        display: none;
      }

      p {
        font-weight: bold;
        font-size: 1.6rem;
        color: #000;
        margin-bottom: 2rem;
      }
    }

    &__cols {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-bottom: 5rem;

      &__col {
        &:first-child {
          flex: 0 0 41.66667%;
          max-width: 41.66667%;
          padding: 0 16px;

          @include respond(sm) {
            display: none;
          }

          @include respond(md) {
            flex: 0 0 50%;
            max-width: 50%;
          }

          @include respond(xl) {
            flex: 0 0 33%;
            max-width: 33%;
          }

          svg {
            margin-bottom: 2rem;
          }

          p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            max-width: 80%;
          }

          .appstore-links {
            display: flex;
            flex-direction: column;

            a {
              img {
                width: 140px;
                margin-bottom: 0.5rem;
              }
            }
          }
        }

        @include respond(sm) {
          flex: 0 0 50%;
          max-width: 50%;
        }

        @include respond(md) {
          flex: 0 0 25%;
          max-width: 25%;
          padding: 0 16px;
        }

        @include respond(lg) {
          flex: 0 0 16.66667%;
          max-width: 16.66667%;
        }
      }

      h3 {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 1.8rem;

          a {
            color: #fff;
            margin-bottom: 1rem;
            opacity: 0.8;
            transition: opacity 220ms;
            font-size: 1.4rem;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    &__brand-area {
      display: flex;
      align-items: center;
      flex-direction: column;
      border-top: 1px solid rgba(251, 251, 251, 0.2);
      padding: 2.25rem 0;

      @include respond(md) {
        display: none;
      }

      svg {
        margin-bottom: 2rem;
      }

      &__appstore-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        a {
          img {
            width: 120px;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    &__end {
      padding: 2.5rem 0;
      border-top: 1px solid rgba(251, 251, 251, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond(sm) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      @include respond(md) {
        justify-content: space-between;
        align-items: center;
      }

      &__copyright {
        font-size: 1.4rem;

        @include respond(sm) {
          margin-bottom: 2.25rem;
        }
      }

      &__social-icons {
        display: flex;

        a {
          color: #f0f0f0;

          &:not(:last-child) {
            margin-right: 1.8rem;
          }

          svg {
            width: 16px;
            height: 16px;
            stroke: currentColor;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
          }
        }
      }
    }
  }
}
