@font-face {
  font-family: 'gotham-rounded-bold';
  src: url('../../fonts/gothamrounded-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-rounded-light';
  src: url('../../fonts/gothamrounded-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova-regular';
  src: url('../fonts/proximanova-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
