.footer {
  position: relative;
  color: #fff;
  background: #1f212b;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 100%;
    transform: translateX(-7rem);
    background-image: linear-gradient(29deg, #2f03ff, #4187f7);
    background-repeat: no-repeat;
    background-position: 15% bottom;

    @include respond(lg) {
      display: none;
    }

    @include respond(md) {
      display: none;
    }

    @include respond(sm) {
      display: none;
    }

    @media screen and (min-width: 1210px) {
      transform: translateX(-10rem);
    }
  }

  &__container {
    align-items: flex-start;
    padding: 8rem 0 6rem 0;

    &__start-coding {
      position: relative;
      z-index: 5;
      padding: 0 1rem;

      @include respond(lg) {
        display: none;
      }

      @include respond(md) {
        display: none;
      }

      @include respond(sm) {
        display: none;
      }

      h1 {
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 5rem;
      }

      .btn {
        @extend %move-up-on-hover;
      }
    }

    &__list {
      padding: 0 2rem;

      @include respond(sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      ul {
        list-style-type: none;

        li {
          margin-bottom: 2.75rem;

          a {
            color: #fff;
            font-weight: lighter;
            font-size: 1.65rem;

            @include respond(sm) {
              font-size: 1.8rem;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &__contact {
      @include respond(sm) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 2rem;

      }

      p {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        font-weight: 600;

        @include respond(sm) {
          font-size: 1.8rem;
        }
    
      }

      &__items {
        display: flex;
        margin-bottom: 2rem;

        & > *:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}
