// HERO

.hero-section {
  height: 51.1rem;
  width: 100%;
  padding: 0 8rem;
  display: flex;
  justify-content: center;

  position: relative;

  &__background {
    background: url('/img/hero.webp');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  &__description {
    position: absolute;
    top: 32%;
    left: 11%;
    z-index: 5;
  }

  &__title {
    font-size: 4.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #000;
  }

  &__para {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }
}
