@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.8rem;
  color: #444;
  margin-bottom: 1.5rem;
}

.section-desc {
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #444;
  margin-bottom: 9rem;
}
