.container {
  max-width: 1320px;
  margin: 0 auto;

  @media screen and (max-width: 1360px) {
    max-width: 1140px;
  }

  @media screen and (max-width: 1180px) {
    max-width: 960px;
  }

  @media screen and (max-width: 1000px) {
    max-width: 720px;
  }

  @media screen and (max-width: 760px) {
    max-width: 540px;
  }

  @include respond(sm) {
    padding: 0 1rem;
  }
}
