/* === COLORS === */
$bright-blue: #0556f3;
$orange: #f7bb22;

/* === TEXT COLORS === */
$bluish-black-text: #25265e;
$bluish-grey-text: #25265eb3;

/* === BREAKPOINTS === */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
