// Finance Teams

.finance-teams {
  margin: $padding-horizontal;
  background-color: $primary-color;
  color: #fff;
  padding: 8rem 7rem;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text__heading {
    font-size: 3.4rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
  }

  .text__description {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
  }

  .btn-container__btn {
    background-color: #fff;
    margin-top: 3rem;
    font-weight: 600;
    color: $primary-color;
    display: inline-block;
    padding: 16px;
    border-radius: 5px;
    font-size: 1.7rem;
    transition: all 200ms;

    &:hover {
      background-color: $navy-blue;
      color: #FFF;
    }
  }
}
