// HEADER

.main-header {
  padding: $padding-horizontal;
  transition: all 250ms;
  border-bottom: 1px solid transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  top: 0;
  left: 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    list-style: none;
    font-size: 1.6rem;
    letter-spacing: 0.001rem;
    display: flex;
    align-items: center;

    &__item,
    &__item--underlined,
    &__item--button {
      a {
        color: $navy-blue;
        transition: all 250ms;

        &:hover {
          color: $primary-color;
        }
      }

      margin-right: 4.6rem;
    }

    &__item--underlined {
      a {
        padding-bottom: 8px;
        border-bottom: 1px solid $primary-color;

        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }

    &__item--button {
      a {
        background-color: $primary-color-light;
        padding: 11px;
        font-weight: 500;
        border-radius: 5px;
        display: inline-block;
        font-weight: bold;
        color: $primary-color;

        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }
}

.sticky-header {
  border-bottom: 1px solid rgb(234, 236, 241);
  padding-top: 2.65rem;
  padding-bottom: 2.65rem;
}
