$green-color: #42db7b;
$orange-color: #ff946b;
$blue-color: #4199ff;

$light-grey: #b9b8b8;
$light-grey-2: #666f7a;

$breakpoint-sm: 600px;
$breakpoint-md: 720px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1080px;
