.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83vh;
  margin-bottom: 5rem;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    margin-top: 15rem;
    position: relative;

    .text__heading {
      @include logrocket-museo-sans(500);
      line-height: 6.2rem;
      font-size: 4.2rem;
      margin-bottom: 2.2rem;
    }

    .text__desc {
      @include logrocket-avenir(500);
      font-size: 2.1rem;
      line-height: 3.8rem;
      text-align: center;
      margin-bottom: 3.5rem;
      margin-right: 3rem;
      max-width: 55%;
    }

    .text__btn-container {
      margin-bottom: 12rem;
    }
  }

  &__clouds {
    width: 100%;
  }

  &__trust-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 249, 251);
    width: 100%;
    padding: 2.7rem 12rem;

    .trust-container__desc {
      @include logrocket-museo-sans(300);
      font-size: 1.8rem;
      color: #ababab;
      line-height: 2.6rem;
      margin-right: 12rem;
    }

    .trust-container__list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: grayscale(100%);
      margin-left: -6rem;
    }

    .list__item {
      margin-right: 1.5rem;

      img {
        opacity: 0.65;
      }

      .item__reddit {
        height: 3.8rem;
      }

      .item__airbnb {
        height: 3.8rem;
      }

      .item__nbc {
        height: 5rem;
      }

      .item__when-i-work {
        height: 3.1rem;
      }

      .item__carafax {
        height: 4.2rem;
      }
    }
  }

  &__rocket {
    position: absolute;
    height: 28rem;
    bottom: 28%;
    right: 7%;
  }

  &__rocket-shadow {
    position: absolute;
    bottom: 28%;
    right: 4%;
    height: 23.5rem;
    filter: blur(2px);
  }
}
