.integration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  border-bottom: 1px solid #e3e3e3;

  &__heading {
    @include logrocket-museo-sans(300);
    font-size: 3.2rem;
    line-height: 5.6rem;
    margin-bottom: 5rem;
  }

  &__logos {
    max-width: 58%;
  }
}
