/* === COLORS === */
$primary-color: #5274ee;
$primary-color-dark: #6978a1;

/* === TEXT COLORS === */
$default-text-color: #212529;
$grey-text-color: #6c757d;

/* === BREAKPOINTS === */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
